.sidebar .nav .nav-item.active > .nav-link:before  {
    background: #ffcc00;
}
.form-control:focus, .asColorPicker-input:focus, .dataTables_wrapper select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select:focus, .jsgrid .jsgrid-table .jsgrid-filter-row input:focus[type=number], .select2-container--default .select2-selection--single:focus, .select2-container--default .select2-selection--single .select2-search__field:focus, .typeahead:focus, .tt-query:focus, .tt-hint:focus {
  border: 1px solid #ffcc00 !important;  
}
table{
  text-align:center;
}
input[type="search"],a.previous, a.next,a.paginate_button.current  {
    border: 1px solid #2c2e33;
    font-weight: normal;
    font-size: 0.875rem;
    padding: 0.625rem 0.6875rem;
    background-color: #2A3038;
    border-radius: 2px;
    color: #ffffff;
    margin: 2px;
    text-decoration: none;
    height: calc(2rem + 2px);
}
div.dataTables_wrapper div.dataTables_paginate {
    margin: 9px;
}
tr:hover, td:hover{
    color: #fff !important;
}
/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #000; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #ffcc00; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffcc00; 
  }
  li.nav-item.menu-items {
    margin-top: 5px;
}
table,thead, tbody, tfoot, tr, td, th {
  border: 1px solid #fff;
}
a.paginate_button {
  border: 1px solid #2c2e33;
  height: calc(2.25rem + 2px);
  font-weight: normal;
  font-size: 0.875rem;
  padding: 0.625rem 0.6875rem;
  border-radius: 2px;
  color: #ffffff;
  margin: 2px;
  text-decoration: none;
  cursor: pointer;
}
.box-tools {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.card .card-title{
  margin-bottom: 0px;
  color: #ffcc00;
}

.card-header {
  border-bottom: 1px solid #fff;
}

.btn i, .fc button i, .ajax-upload-dragdrop .ajax-file-upload i, .swal2-modal .swal2-buttonswrapper .swal2-styled i, .swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-confirm i, .swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-cancel i {
  margin-right: 0px;
}
.dataTables_wrapper .dataTable .btn, .dataTables_wrapper .dataTable .fc button, .fc .dataTables_wrapper .dataTable button, .dataTables_wrapper .dataTable .ajax-upload-dragdrop .ajax-file-upload, .ajax-upload-dragdrop .dataTables_wrapper .dataTable .ajax-file-upload, .dataTables_wrapper .dataTable .swal2-modal .swal2-buttonswrapper .swal2-styled, .swal2-modal .swal2-buttonswrapper .dataTables_wrapper .dataTable .swal2-styled {
  height: 25px;
  padding: 0px;
  width: 25px;
}
.btn i, .fc button i, .ajax-upload-dragdrop .ajax-file-upload i, .swal2-modal .swal2-buttonswrapper .swal2-styled i, .swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-confirm i, .swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-cancel i {
  vertical-align: -webkit-baseline-middle;
}
.dataTables_wrapper .dataTable thead .sorting:before, .dataTables_wrapper .dataTable thead .sorting_asc:before, .dataTables_wrapper .dataTable thead .sorting_desc:before, .dataTables_wrapper .dataTable thead .sorting_asc_disabled:before, .dataTables_wrapper .dataTable thead .sorting_desc_disabled:before {
  content: unset;
  right: 1.2em;
}
.dataTables_wrapper .dataTable thead .sorting:after, .dataTables_wrapper .dataTable thead .sorting_asc:after, .dataTables_wrapper .dataTable thead .sorting_asc_disabled:after{
  content: "\21C2";
  top: -4px;
  right: 20px;
  color: #fff;
  font-size: 20px;
  position: absolute;
}
.dataTables_wrapper .dataTable thead .sorting_desc:after, .dataTables_wrapper .dataTable thead .sorting_desc_disabled:after{
  content: "\21BE";
  top: -4px;
  right: 20px;
  color: #fff;
  font-size: 20px;
  position: absolute;
}
.dataTables_info {
  float: left;
  margin-left: 11px;
}
.dataTables_wrapper select {
  appearance: revert !important;
  width: 50px !important;
}
.dataTables_length{
  float: left;
}table.dataTable {
  margin-bottom: 24px !important;
  margin-top: 24px !important;

}thead {
  background: #2a3038;
}
button#btn-close {
  background: unset;
  color: #fff;
  font-size: 16px;
}
.table-striped > tbody > tr:nth-of-type(odd) > * {
    --bs-table-accent-bg: rgba(16, 16, 16, 0.432);
    color: #e6f3ff;
}
tr.odd:hover {
  background: #000;
}
.card-body input{
  border: 1px solid #fff !important;
}
.card-body input:focus{
border-color:#ffcc00!important;
}
.card-body input::placeholder{
color: rgba(255, 255, 255, 0.557) !important;
}
.error {
  color: #f35353;
  font-family: verdana, Helvetica;
}
/* iphone zoom fix */

input[type='text'],
input[type='number'],
textarea {
  font-size: 12px;
}

.form-group {
  margin-bottom: 1.8rem;
  position: relative;
}

label.error {
  position: absolute;
  bottom: -25px;
  left: 0px;
  font-size: 0.675rem;
  padding: 5px;
}
.select2-container--default .select2-selection--single, .select2-container--default .select2-dropdown, .select2-container--default .select2-selection--multiple {
  border-color: #e8f0fe;
  background: #2a3038;
}
.select2-container .select2-selection--single {
  height: 38px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #fff;
  line-height: initial;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
  height: 38px;
  position: absolute;
  top: 1px;
  right: 1px;
  width: 20px;
}
.select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #ffcc00;
  color: white;
}
div.dataTables_wrapper div.dataTables_info {
  padding-top: 2px;
  white-space: nowrap;
}
.navbar .navbar-menu-wrapper .navbar-nav .nav-item.dropdown .dropdown-menu.navbar-dropdown .dropdown-item {

    padding: 5px 9px;

}
i.mdi.mdi-menu-down{
  position: relative;
  top: 3px;
  left: 5px;
}
div.dataTables_wrapper div.dataTables_filter input {
  padding: 5px;
}
.swal2-modal .swal2-icon, .swal2-modal .swal2-success-ring {
  margin-top: 0;
  margin-bottom: 22px;
}
.swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-confirm, .swal2-modal .swal2-buttonswrapper .swal2-styled.swal2-cancel {
  margin-top: 16px;
}
.swal2-modal .swal2-styled {
  border: 0;
  border-radius: 3px;
  -webkit-box-shadow: none;
  box-shadow: none;
  color: #fff;
  cursor: pointer;
  font-size: 17px;
  font-weight: 500;
  margin: 15px 5px 0;
  padding: 10px 32px;
}
button.swal2-cancel.swal2-styled,button.swal2-confirm.swal2-styled {
  font-size: 17px;
  font-weight: 500;
  margin: 15px 5px 0;
  padding: 10px 32px !important;
}
.swal2-modal .swal2-title {
  color: #ffffffc4;
}
.swal2-modal .swal2-content {
  color: #ffffffa3;
}
.swal2-modal.swal2-show {
  background: rgb(20 20 20) !important;
}
.swal2-container.swal2-shown {
  background-color: rgb(41 39 39 / 77%);
}
.form-control, .asColorPicker-input, .dataTables_wrapper select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=text], .jsgrid .jsgrid-table .jsgrid-filter-row select, .jsgrid .jsgrid-table .jsgrid-filter-row input[type=number], .select2-container--default .select2-selection--single, .select2-container--default .select2-selection--single .select2-search__field, .typeahead, .tt-query, .tt-hint {
  height: calc(2.00rem + 2px);
}
textarea.form-control, textarea.asColorPicker-input, .select2-container--default textarea.select2-selection--single, .select2-container--default .select2-selection--single textarea.select2-search__field, textarea.typeahead, textarea.tt-query, textarea.tt-hint {
  min-height: 4.875rem;
  border: 1px solid;
}
.cursor-pointer{
  cursor: pointer;
}